body {
    height: 100%;
    background-position: center;
    background-color: #b7b7a4;
}

body,
h2,
p {
    font-family: 'Josefin Sans', sans-serif;
}


/* HEADER  */

.container-fluid {
    background-color: #b7b7a4;
    background-size: auto;
    /* height: 400px; */
}

.container-fluid>div.row {
    display: flex;
    align-items: center;
    /* height: 200px; */
    padding: 1rem;
}


/* search input  */

.form-control {
    border: 2px solid #b7b7a4;
    border-radius: 4rem;
    font-weight: 'thin';
    text-align: center;
}

.form-control:focus {
    border-color: burlywood;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #bd632f;
}

#search {
    color: white;
    border-radius: 1.2rem;
    background-color: #bd632f;
    border-color: #8a0602;
    width: 30%;
    height: 35px;
    text-align: center;
}

#search:focus {
    border-color: burlywood;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #bd632f;
}

.moveSearchBtn {
    max-width: 100%;
    /* left: 33%; */
}


/* Section  menubar*/

.menuBar {
    background-color: rgba(254, 250, 224, 1);
    height: auto;
}

#menuBorder {
    border-bottom: 2px dotted gray;
}


/* COL1 dropdown */

.dropdown>button {
    text-align: center;
    width: 50%;
    background-color: #fff1d7;
    border-radius: 1.2rem;
    border-color: #bd632f;
}

.dropdown>button:focus {
    color: white;
    border-color: #52796f;
    background-color: #52796f;
}

.dropdown-item:focus {
    color: #631414;
    background-color: #faedcd;
    outline: 0;
}


/* COL2 checkbox  */

#checkbox-group {
    /* left: 145px; */
}


/* when the checkbox is checked  */

.custom-control-input:checked~.custom-control-label::before {
    border-color: #52796f;
    background-color: #52796f;
    box-shadow: 0 0 0 0.1rem #bd632f;
}


/* COL3 page selector  */

.custom-select {
    background-color: #fff1d7;
    border-radius: 1.2rem;
    border-color: #bd632f;
    max-width: 100%;
}

.custom-select:focus {
    color: white;
    border-color: #52796f;
    background-color: #52796f;
}

.custom-select>option {
    font-weight: 400;
    background-color: white;
    outline: none;
    color: #212529;
}



/* BOOK CARD */

#cardBookContainer {
    background-image: url("images/background.jpg");
    background-color: #b7b7a4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    padding-bottom: 10px;
}

h2 {
    color: #52796f;
    font-size: 1.2rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70%;
    height: auto;
    background-color: #b7b7a4;
    color: #52796f;
    opacity: 0.9;
}

.card>div.row.no-gutters {
    height: 100%;
}


/* default data  */

.cardContainer {
    max-width: 40%;
}


/* ==========  */

.card-img {
    display: flex;
    padding: 80px 10px 0 10px;
}

.card-body {
    background-color: #fff1d7;
    height: 100%;
}

.btn-secondary {
    background-color: #52796f;
    border-color: #52796f;
}

.book-list>div .col-lg-6:last-child {
    display: flex;
    justify-content: flex-end;
}


/* footer  */

footer>p {
    border-top: 2px dotted gray;
    color: #212529;
    background-color: #faedcd;
    font-weight: 400;
}


/* ================ */


/* setup for small devices/mobile */

@media only screen and (max-width:600px) {
    /* colors and borders */
    .container-fluid {
        background-color: #faedcd;
    }
    #menuBorder {
        border-top: 1px dotted gray;
        border-bottom: 1px dotted gray;
    }
    /* section menbar   */
    .containerDropdown {
        display: flex;
        justify-content: center;
    }
    #viewDropdownContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* card setup  */
    .cardContainer {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
    .card-img {
        width: 100%;
        padding: 10px !important;
        display: flex;
    }
    .btn-secondary {
        width: auto;
        height: 20%;
    }
    #imgContainer {
        width: 50%;
        height: auto;
    }
    #bodyCardContainer {
        width: 50%;
        height: auto;
    }
    #pageCount,
    #categorie,
    #bookLanguage {
        display: none;
    }
    h5.card-title {
        font-size: 0.9rem;
    }
    .card-text {
        font-size: 0.9rem;
    }
    .book-list>div .col-lg-6:last-child {
        justify-content: center!important;
    }
}


/* ============================================= */


/* setup for tablet  */

@media only screen and (min-width:600px) {
    /* header  */
    .container-fluid {
        background-color: #faedcd;
    }
    #menuBorder {
        border-top: 1px dotted gray;
        border-bottom: 1px dotted gray;
    }
    /* section menbar   */
    .containerDropdown {
        display: flex;
        justify-content: center;
    }
    #viewDropdownContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-size: 1.5rem;
    }
    /*book card setup  */
    .cardContainer {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
    .card-img {
        width: 100%;
        padding: 10px !important;
        display: flex;
    }
    .btn-secondary {
        width: auto;
        height: 20%;
    }
    #imgContainer {
        width: 50%;
        height: auto;
    }
    #bodyCardContainer {
        width: 50%;
        height: auto;
    }
    #pageCount,
    #categorie,
    #bookLanguage {
        display: none;
    }
    h5.card-title {
        font-size: 0.9rem;
    }
    .card-text {
        font-size: 0.9rem;
    }
    .book-list>div .col-lg-6:last-child {
        justify-content: center!important;
    }
}


/* =============================================== */


/* setup for desktop devices  */

@media only screen and (min-width:768px) {
    /* header  */
    header>.container-fluid>div.row {
        height: 400px;
        background-color: #52796f;
    }
    .moveSearchBtn {
        max-width: 10%;
        height: 20%;
    }
    #search {
        width: 100%!important;
    }
    /* section menubar  */
    section>.container-fluid>div.row {
        display: flex;
        justify-content: center;
    }
    #checkbox-group>form {
        display: flex;
    }
    #menuBorder>div.containerDropdown {
        justify-content: center;
        left: 25px;
    }
    /* Book card  */
    h5.card-title {
        font-weight: bold;
    }
}


/* ========================================= */
